*.pyc
*.sqlite3
*~
env/
venv/
.vscode/
.idea/
/docker-compose.yml
/.idea/
/redis/
/db/
osm_data
.env
.envrc
.venv
media/
node_modules
/docker-compose.override.yaml
/app/src/models.png
venv/
local_5_backup.sql

/mongres_err.log
.vscode/
/app/src/*.xlsx
/app/src/*.csv
/app/src/*.ipynb
env/
# app/src/pg.ipynb

nohup.out
logs/

app/src/data